.header {
    width: 100vw;
    display: flex;
}
.left {
    width: 50vw;
    min-width: 450px;
    display: flex;
    padding: 16px 16px 16px 64px;
    flex-direction: column;
    justify-content: center;
}
.title {
    font-size: calc(1.8em + 1.2vw);
    font-weight: 600;
    display: flex;
}
.subTitle {
    margin: 50px 0 20px 0;
    color: #637792;
    font-size: 1.125rem;
    letter-spacing: -0.04em;
    line-height: 32px;
    margin: 26px 0 24px;
    text-align: justify;
}
.content {
    color: #637792;
    font-size: 1.125rem;
    letter-spacing: -0.04em;
    line-height: 32px;
    margin: 26px 0 24px;
    text-align: justify;
}
.btnLink {
}
.name {
    color: cornflowerblue;
}
.btnlist {
    display: flex;
}
.leftImage {
    width: fit-content;
    height: fit-content;
}
.right {
    width: 50vw;
    min-width: 450px;
}
