.detail {
    width: 100vw;
    min-height: calc(100vh - 192px);
    margin: 0 auto;
    padding: 24px;
    background-color: var(--semi-color-fill-1);
}
.content {
    width: calc(100vw - 48px);
    margin: 0 auto;
    max-width: -webkit-fill-available;
}
.contentHeader {
    text-align: center;
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
}
.nameTitle {
    font-size: 14px;
    color: var(--semi-color-text-2);
    margin: 12px 0;
}
.headerTag {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right {
    display: flex;
    align-items: center;
}

.jqwzStyle {
    margin-bottom: 16px;
}
.detailLS {
    width: 100vw;
    min-height: calc(100vh - 192px);
    margin: 0 auto;
    padding: 12px 6px;
    background-color: var(--semi-color-fill-1);
}
.contentLS {
    width: calc(100vw - 12px);
    margin: 0 auto;
}
.titleLS {
    font-weight: bold;
    text-align: center;
}
