$themes: (
    theme-mode: (
        font-size-lg: 14px,
        bg-color: #fff,
        font-color: #000,
        author-font-color: rgb(30, 128, 255),
    ),
    dark: (
        font-size-lg: 14px,
        bg-color: #000,
        font-color: #fff,
        author-font-color: rgb(30, 128, 255),
    ),
);
