.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    @include other();
}
.top {
    width: 100%;
    height: 60px;
    padding: 0 16px;
    line-height: 60px;
    box-sizing: border-box;
    position: fixed;
}
.center {
    margin-top: 60px;
    padding: 0 16px;
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    min-height: calc(100vh - 140px);
}
.footer {
    width: 100vw;
    height: 80px;
    box-sizing: border-box;
}
