.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    @include other();
    @include themeify {
        background-color: themed('bg-color');
        color: themed('font-color');
    }
}
.top {
    width: 100vw;
    height: 60px;
    padding: 0 12px;
    line-height: 60px;
    position: fixed;
}
.center {
    margin-top: 60px;
    flex: 1;
    min-height: calc(100vh - 140px);
}
.footer {
    width: 100vw;
    height: 80px;
}
