.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    @include other();
}
.top {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 0 16px;
    line-height: 60px;
    position: fixed;
}
.headerBg{
    @include themeify {
        background-color: themed('header-bg-color');
    }
    box-sizing: border-box;
    transition: 1s;
}
.headerBgDef{
    @include themeify {
        background-color: themed('header-bg-color-defult');
    }
    box-sizing: border-box;
    transition: 1s;
}
.center {
    box-sizing: border-box;
    margin-top: 60px;
    padding: 0 16px;
    width: 100%;
    flex: 1;
    min-height: calc(100vh - 172px);
}
.footer {
    width: 100%;
    height: 80px;
}
