.footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtitle {
    display: flex;
}
.ba {
    display: flex;
}
.des {
    color: #01ffc3;
    font-weight: 400;
    margin-left: 5px;
}
