body {
    color: 'var(--semi-color-text-0)';
    background-color: 'var( --semi-color-bg-0)';
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body,
div {
    font-family: Roboto, Verdana, 'Raleway', 'PingFang SC', 'Microsoft Yahei',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
